// Here we will place all the variables, mixins reset stiles, etc.

// Create the variables in here
$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

// Create a mixin of the flexbox properties that we used on logo because we are going to reuse them on the project
@mixin flexlayout {
  // Link element is an inline element so we can't assign to it with and height, to manage that we are going to make it as a block element
  // To center the item on link element that is a circle instead of block we use flexbox
  display: flex;
  justify-content: center;
  align-items: center;
}

// Add propperty to use capitalize also
@mixin textStyles($transform: uppercase) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $transform;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    // place element in the center
    transform: translate(-50%, -50%);
}

//placeholder selector
%fullspace {
    width: 100%;
    height: 100%;
}

// Get rid of all the pre-defined margins
* {
  margin: 0;
  padding: 0;
}

// define background color for elements
body {
  // Assign the variable
  background-color: $color-dark;
}
