// Styles regarding layout and also the ones that wont be reusable

// header
.header {
  // full width available on the page
  width: 100%;
  // 100% of view width
  height: 100vh;
  // manage layout based on the parent element header
  position: relative;
  // Background image styles
  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../images/bg.jpeg) center no-repeat;
  background-size: cover;

  // child element of header use nesting
  // we are going to center the brand horizontally
  .brand {
    display: flex;
    align-items: center;
    @include centering(15%);
  }

  // & indicates artnt element
  &-banner {
    text-align: center;
    @include centering(50%);
  }
}

// Style About us elements

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;

  &-left {
    width: 40%;
    position: relative;
    left: -200px;


    img {
      width: 100%;
      opacity: .7;
    }
  }

  &-right {
    width: 60%;
    display: flex;
    // Place elements vertically
    flex-direction: column;
    // Center elements horizontally
    align-items: center;
    padding: 0 100px;
    // Prevents increase of box
    // This might be a responsive issue
    box-sizing: border-box;

    .stars {
        margin: 30px 0;
    }

    .star {
        font-size: 15px;
        color: $color-primary;
        margin-left: 10px;
    }

    .description {
        font-family: $font-josefinSans;
        font-size: 25px;
        font-style: italic;
        color: $color-secondary;
        text-align: justify;

        &::first-letter {
            padding-left: 50px;
        }
    }
  }
}
